# --- IDE / Android Studio ---
.idea/
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.aab
output-metadata.json
.DS_Store

# --- Build Outputs ---
# We ignore all build folders to keep the repo clean.
build/
bin/
gen/
out/

# --- Artifacts ---
# We ignore APKs so they don't bloat the code history. 
# (You will still upload these manually to GitHub Releases)
*.apk

# --- Keystores & Security (CRITICAL) ---
# NEVER share your signing keys on GitHub.
*.jks
*.keystore
*.p12
*.key
google-services.json

# --- Logs & OS Files ---
*.log
*.hprof
.navigation/

# --- IntelliJ / Misc ---
*.ipr
*.iws
cmake-build-*/
